body {
    overflow-x: hidden;
    font-family: 'Open Sans', 'Helveitca', sans-serif;
    background-color: #FFF;
}

.top-nav-bar {
    position: fixed;
    background-color: #03384C;
    height: 60px;
    width: 100%;
    z-index: 9999;
}

.top-nav-bar > div {
    width: 90%;
    min-width: 500px;
    margin: 0 auto;
}

.top-nav-bar .nav-bar-buttons {
    line-height: 0px;
    float: right;
    position: relative;
    top: 30px;
    transform: translateY(-50%);
}

.nav-bar-buttons .links li {
    display: inline-block;
    padding: 30px 30px;
    font-size: 1.5em;
    color: #B26817;
    font-weight: 400;
}

div h1 {
    font-size: 72px;
    color: #FFAD53;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: 0 auto;
/*    text-transform: uppercase;*/
}

div h3 {
    font-size: 32px;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px;
}

section div {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-family: 'Gentium Book Basic', 'Helvetica';
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #959595;
}

span {
    color: #e5003e;
    font-weight: bold;
}

footer {
    height: 200px;
    background-color: #03384C;
}

#footer-text {
    line-height: 12px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 100;
}

#footer-text a {
    color: #FFAD53;
    font-weight: bold;
    text-decoration: none;
}

#footer-text a:hover {
    color: #f8d082;
}

footer .links li {
    display: inline-block;
    margin-left: 20px;
}

#intro-content {
    box-sizing: border-box;
    font-size: 0;
}

#intro-content > div{
    width: 100%;
    height: 600px;
    min-width: 300px;
    background: url('../images/waterdrops.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
}
.site-content {
    padding-top: 45px;
    padding-right: 150px;
    width: 100%;
    height: 100%;
    font-family: 'PT Serif', serif;
}

.content-seperator {
    background: #000;
    border: none;
    height: 15px;
    margin: 0;
}

.container-left-50 {
    width: 50%;
    height: 300px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container-right-50 {
    width: 50%;
    height: 300px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


@media only screen and (max-width: 630px) {
    .container-left-50 {
        min-width: 100%;
    }
    .banner-heading {
        font-size: 58px;
    }
    .nav-bar-buttons .links li {
        font-size: 1em;
    }
}
