body {
    overflow-x: hidden;
    font-family: 'Open Sans', 'Helveitca', sans-serif;
    background-color: #8EF1FF;
}

.top-nav-bar {
    position: fixed;
    background-color: #B25B17;
    height: 60px;
    width: 100%;
    z-index: 9999;
}

div h1 {
    font-size: 72px;
    color: #FF9F53;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: 0 auto;
/*    text-transform: uppercase;*/
}

div h3 {
    font-size: 32px;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px;

}

section div {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-family: 'Gentium Book Basic', 'Helvetica';
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #959595;
}

span {
    color: #e5003e;
    font-weight: bold;
}

footer {
    height: 200px;
    background-color: #0968a3;
}

#footer-text {
    line-height: 12px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 100;
}

#footer-text a {
    color: #ffae14;
    font-weight: bold;
    text-decoration: none;
}

#footer-text a:hover {
    color: #f8d082;
}

li {
    display: inline-block;
    margin-left: 20px;
}

.question-section {
    margin-top: 60px;
}

.question-text {
    border: 2px solid #28afeb;
    text-align: center;
    border-radius: 18px;
    margin-top: 10px;
}

.question-text p {
    color: #8a12a7;
    font-size: 22px;
    font-weight: bold;
}

.answered {
    text-decoration: line-through;
}

@media only screen and (max-width: 500px) {
    .container-left-50 {
        width: 100%;
        float: none;
    }
    .banner-text {
        padding: 3em 0;
    }
    .banner-heading {
        font-size: 3em;
    }
}

#intro-content {
    box-sizing: border-box;
    font-size: 0;
}

#intro-content > div{
    width: 100%;
    height: 600px;
    min-width: 300px;
    background: url('../images/waterdrops.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
}
.site-content {
    padding-top: 45px;
    padding-right: 150px;
    width: 100%;
    height: 100%;
    font-family: 'PT Serif', serif;
}

.content-seperator {
    background: #000;
    border: none;
    height: 15px;
    margin: -2px 0 0 0;
}

.container-left-50 {
    width: 50%;
    height: 300px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container-right-50 {
    width: 50%;
    height: 300px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
